<h1>Showing article details</h1>
<p><strong>Title: </strong> <%= @article.title %> </p>
<p><strong>Description: </strong> <%= @article.description %> </p>

<%= link_to 'Edit', edit_article_path(@article), data: { turbo_method: :edit } %>
<br>
<%= link_to 'Back To Articles Table', articles_path %>
<br>
<%= link_to 'View Home Page', root_path %>
<br>
<%= link_to 'View About Page', about_path %>
